# Project exclude paths
/backend/target/
/frontend/dist/
/frontend/node_modules/
/frontend/node_modules/@babel/parser/
/frontend/node_modules/@babel/types/
/frontend/node_modules/@rolldown/pluginutils/dist/index.cjs
/frontend/node_modules/@rolldown/pluginutils/dist/index.js
/frontend/node_modules/@rolldown/pluginutils/LICENSE
/frontend/node_modules/@types/babel__core/LICENSE
/frontend/node_modules/@types/babel__core/README.md
/frontend/node_modules/@types/babel__generator/LICENSE
/frontend/node_modules/@types/babel__generator/README.md
/frontend/node_modules/@types/babel__template/LICENSE
/frontend/node_modules/@types/babel__template/README.md
/frontend/node_modules/@types/babel__traverse/LICENSE
/frontend/node_modules/@types/babel__traverse/README.md
/frontend/node_modules/@types/estree/LICENSE
/frontend/node_modules/@types/estree/README.md
/frontend/node_modules/@vitejs/plugin-react/
/frontend/node_modules/esbuild/
/frontend/node_modules/esbuild/lib/main.js
/frontend/node_modules/nanoid/
/frontend/node_modules/nanoid/non-secure/index.cjs
/frontend/node_modules/nanoid/non-secure/index.js
/frontend/node_modules/picocolors/
/frontend/node_modules/postcss/
/frontend/node_modules/react/LICENSE
/frontend/node_modules/react/README.md
/frontend/node_modules/react-dom/LICENSE
/frontend/node_modules/react-dom/README.md
/frontend/node_modules/rollup/
/frontend/node_modules/source-map-js/
/frontend/node_modules/vite/
# JetBrains
.idea/
.iml
